<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143658063553-d8v3k3db6sj9aniomqt64gsoit2hfhi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143658063553-d8v3k3db6sj9aniomqt64gsoit2hfhi3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143658063553-te66p5jh07fus1hnpr2kaib70j7hbmbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPPVC8VtHVLZBq5SX48kdSh882LRSW30A</string>
	<key>GCM_SENDER_ID</key>
	<string>143658063553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.instrumentalika</string>
	<key>PROJECT_ID</key>
	<string>instrumentalika-f70dd</string>
	<key>STORAGE_BUCKET</key>
	<string>instrumentalika-f70dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143658063553:ios:49a1bb500c2c544fe9a640</string>
</dict>
</plist>